* {
    box-sizing: border-box; 
  }
body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
    font-family:;
  }
.nav-left {
    background: lightslategray;
    flex: 1;
  }
.content-right {
    display: flex;
    flex-direction: column;
    flex: 5;
  }
.content {
    display: flex;
    flex-direction: row;
  }
.content > article {
    flex: 4;
    min-height: 80vh;
  }
header, footer {
    background: lightsteelblue;
    height: 10vh;
  }
header, footer, article, nav {
    padding: 1em;
  }
article {
    background: lightgray;

}
.pHeader, .pAboutMe{
    float: right;

}
.Selfie{
    height: 600px;
    width: 400x;
    float: left;
}
.pCopyright {
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
}