.flexContainer {
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: right;
  background-color: azure;
}

.navigation {
  text-align: inherit;
  padding: 1rem;
}

.aboutMe {
  position: relative;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: azure;
  padding: 1rem;
}